In [1]:
#imports

import pandas as pd
import numpy as np
import preprocessingFuncts as pp
from sklearn import neighbors
from sklearn.model_selection import train_test_split, cross_val_score
import matplotlib.pyplot as plt

In [2]:

#all base datas

def readData(paths, base, categories):
  arr = []
  itemData = pp.readItemData()
  userData = pp.readUserData()
  for path in paths:
    ratingData = pp.readRatingData(path)
    data = 0
    if base == "user":
      data = pp.specifyByUserData(userData, ratingData, categories)
    elif base == "item":
      data = pp.specifyByItemData(itemData, ratingData, categories)
    else:
      raise Exception("readData(path, base, categories) base can only be \"user\" or \"item\"")
    y = data.iloc[:,'rating']
    x = data.iloc[:,data.columns.drop('rating','user_id','item_id')]
    arr.append((x,y))
  return arr

In [3]:
# user-based, vanilla

toRead = [
    'ua.base',
    'ua.test',
    'ub.base',
    'ub.test'
]

userBasedDF = readData()

       user_id  gender  occupation  age  item_id  rating
0            1       1          19   24       61       4
1            1       1          19   24      189       3
2            1       1          19   24       33       4
3            1       1          19   24      160       4
4            1       1          19   24       20       4
...        ...     ...         ...  ...      ...     ...
99995      943       1          18   22      415       1
99996      943       1          18   22      219       4
99997      943       1          18   22      796       3
99998      943       1          18   22      739       4
99999      943       1          18   22      391       2

[100000 rows x 6 columns]

In [ ]:
knnModel = neighbors.KNeighborsClassifier(n_neighbors=5) # n_neighbors parameter can be changed
xData = 

# TODO